<div id="<%= dom_id user %>">
  <p>
    <strong>Firstname:</strong>
    <%= user.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= user.lastName %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.userName %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= user.type %>
  </p>

</div>
